.navbar
{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 2rem 6rem;
    font-family: var(--font-family);
}
.nav
{   
    flex:1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.logo
{
    margin-right: 2rem;
}
.logo img
{
    width: 62.56px;
    height: 16.02px;
}
.navlinks
{
 display: flex;
 

}

.navlinks p,
.navmenulinks,
#signIn
{  
   color: white;
   font-size: 18px;
   font-weight: 500;
   line-height: 25px;
   text-transform: capitalize;
   margin:0 1rem;
   font-family: var(--font-family);
}
#signIn
{
    background-color: transparent;
    border: none;
    font-family: var(--font-family);
    color: white;
}
.navbuttons button,
.navmenubuttons button
{
    padding:0.5rem 1rem;
    border:none;
    font-weight: 500;
    font-size: 18px;
    color:white;
    font-family: var(--font-family);
    background-color: #FF4820;
    line-height: 25px;
    border-radius: 5px;
    cursor: pointer;
}
.navbarmenu
{

    position: relative;
    margin: 1rem;
    display: none;

}
.navbarmenu svg
{
    cursor:pointer
}

.navmenu
{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;

  position: absolute;
  right:0;
  top:40px;
  background: var(--color-footer);
  padding: 2rem;
  margin-top: 1rem;
  border-radius: 5px;
  min-width:210px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
  text-align: end;

}
.navmenu p
{
    margin: 1rem 0;
}
.navmenubuttons
{
    display: none;
}

@media screen and (max-width:1050px) {
    .navlinks{
        display: none;
    }
    .navbarmenu
    {
        display: flex;
    }
}
@media screen and (max-width:700px) {
    .navbar
    {
        padding: 2rem 4rem;
    }
   
    
}
@media screen and (max-width:550px){
    .navbar
    {
        padding: 2rem;
    }
    .navbuttons
    {
        display: none;
    }
    .navmenu
    {
        top:20px;
    }
    .navmenubuttons
    {
        display:block
    }
}





